html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

/* xs */
@media(max-width: 575px){
    .First-navbar{
        background-color: brown;
    }
}

/* sm */
@media(min-width: 576px) and (max-width:767px){}


/* md */
@media(min-width: 768px) and (max-width:991px){}

/* lg */
@media(min-width: 992px) and (max-width:1199px){}


/* xl */
@media(min-width: 1200px) {
    /****************************** Header Section ******************************/
    .First-navbar{
        background-color: #E7CBCB;
    }
    .Second-navbar{
        background-color: rgb(252, 247, 247);
        
    }
    .navbar-head-link{
        color:white;
        background-color: tomato;
    }
    .nav-link{
        color:tomato!important;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-stretch:wider;
        letter-spacing: 1px;
    }

    .advertise {
        background-color: tomato;
        border: 2px solid tomato;
        border-radius: 500px !important;
        /* border: none; */
    }
    .advertise-link {
        color: white !important;
        font-size: 17px;
        font-family:  Helvetica, sans-serif;
        font-style:normal;
        font-stretch:wider;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .advertise:hover {
        background-color: rgb(248, 79, 50);
        border: 2px solid rgb(248, 79, 50);
        border-radius: 500px !important;
        /* border: none; */
    }
    .advertise-link:hover {
        color: whitesmoke !important;
        font-size: 17px;
        font-family:  Helvetica, sans-serif;
        font-style:normal;
        font-stretch:wider;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    




    /****************************** Body Section ******************************/
    .hero-section{
        /* background-color: blueviolet !important; */
    }
    .platform-hero-image{
        background: url('../images/platform-hero.jpg') center/cover fixed no-repeat ;
        height: 70vh;
        margin-top: 120px;
    }

    .platform-hero-background{
        background: linear-gradient(to left top, rgba(0, 0, 255, 0.207), rgba(248, 80, 50, 0.327)) !important;
        height:70vh;
        /* opacity:0.25; */

    }

    .hero-section-title{
        color: aliceblue;
        font-size: 75px;
        opacity:5!important;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        padding-top: 95px;
        padding-left: 140px;
        line-height: 80px;
    }

    .hero-section-body{
        color: white;
        padding-left: 140px;
        padding-right: 140px;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .hero-body{
        margin: 0px 200px 0px 200px;
    }

    .hero-body-sub{
        margin-top: 160px;
    }
    .sub-hero-text{
        padding-left: 20px;
    }

    .sub-hero-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .short-line{
        width: 100px;
        color: rgb(248, 79, 50);
        border: 3px solid rgb(248, 79, 50);
    }

    .sub-hero-text{
        
    }

    .sub-hero-body{
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-right: 60px;
    }

    .buttons{
        background-color: rgb(248, 79, 50);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }

    .buttons:hover{
        background-color: rgb(252, 42, 5);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }
    .main-left-img{
        /* width: auto; */
        width:auto;
        height: 50vh;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sub-left-img{
        /* width: auto; */
        width:auto;
        height: 25vh;  
        margin-top: -180px;
        margin-left: -70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sub-hero-right{
        /* margin-left: 10px; */
    }

    /* 2nd section */
    .second-section{
        margin-top: 160px;
        margin-bottom: 200px;
    }

    .second-section-right{
        padding-left: 30px;
    }

    .second-section-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .second-section-picture{
        /* width: auto; */
        width:auto;
        height: 55vh;  
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }


    /******************* About Section *******************/
    .about-us{
        background: url('../images/about-background.jpg') top/cover fixed no-repeat ;
    }
    .about-hero-image{
        background: url('../images/about-hero.jpg') top/cover fixed no-repeat ;
        height: 75vh;
        margin-top: 120px;
        /* border-radius: 100%; */
    }

    .about-hero-background{
        background: linear-gradient(to left top, rgba(0, 0, 255, 0.207), rgba(248, 80, 50, 0.327)) !important;
        height:75vh;
        text-align: center;
    }

    .about-section-title{
        color: aliceblue;
        font-size: 75px;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        line-height: 80px;
        padding-top: 23% ;
    }

    .hero-section-body{

    }

    /* Our Story */
    .our-story{
        margin: 200px 200px 100px 200px;
    }

    .story-image{
        width: 100%;
        margin-left: auto;
        /* margin-right: auto; */
    }

    .story-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .story-body{
        /* margin-top: 70px; */
        margin-bottom: 20px;
        text-align: justify;
    }

    .contact-btn{
        background-color: rgb(248, 79, 50);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }

    .contact-btn:hover{
        background-color: rgb(252, 42, 5);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }


     /* Our Mission  */
    .our-mission{
        margin: 100px 200px 200px 200px;
    }

    .mission-image{
        width: 100%;
        margin-left: auto;
        /* margin-right: auto; */
    }

    .mission-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .mission-body{
        /* margin-top: 70px; */
        margin-bottom: 20px;
        text-align: justify;
    }

    /* our-values */
    .our-values{
        margin: 150px 0px 150px 0px;
        /* background-color: #FDD4CC; */
        background-color: #E7CBCB;
        padding: 150px 200px 100px 200px;
        text-align: center;
    }

    .value-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        text-align: center;
        color: white;
    }

    .value-body{
        color: white;
        font-size: 19px;
        /* font-weight: 400; */
        font-family: sans-serif;
        /* letter-spacing: 1px; */ 
        word-spacing: 2px;
    }


    .value-line1{
        width: 150px;
        color: white;
        border: 3px solid white;
    }

    .value-line2{
        width: 150px;
        color: white;
        border: 3px solid white;
        float: right;
        margin-top: 40px;
    }

   /* Our Team */
   .our-team{
    text-align: center;
    margin: 0px 100px;
    padding-bottom: 100px;
    }

    .team-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px; 
        margin-bottom: 40px;
    }

    .team-line{
        width: 150px;
        color: rgb(248, 79, 50);
        border: 2px solid rgb(248, 79, 50);
        margin: auto;
    }

    .team-body{
        margin-top: 50px;
    }

    .team-profile{
        /* color: rgb(248, 79, 50); */
        /* border: 2px solid rgb(248, 79, 50); */
        /* padding: 50px; */
    }

   .profile-image{
       width: 60%;
       border-radius: 400px;
   }

   .profile-name{
        font-size: 18px;
        font-weight: 400;
        font-family: sans-serif;
        /* letter-spacing: 2px; */
   }

   .profile-position{
        font-size: 15px;
   }

   /******************* FAQ Section *******************/
   .faq{
        margin: 200px 200px 100px 200px;
   }

   .faq-title{
    font-size: 45px;
    font-weight: 600;
    line-height: 44px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #5255EE;  
   }

   .faq-line{
    width: 100px;
    color: #5255EE;
    border: 3px solid #5255EE; 
   }

   .search-space{
       display: flex;
       display: block;
       width: 100%;
   }

   .search-box{
       width: 90%;
       padding: 7px 10px;
       border-radius: 10px 0px 0px 10px;
       border: 2px solid #5255EE;
       border-right:none;
       outline: none;
   }

   .search-btn{
       width: auto;
        padding: 7px 10px;
        border-radius: 0px 10px 10px 0px;
        border: 2px solid #5255EE;
        color: rgb(248, 79, 50);
        background-color: white ;
        margin-left: -5px;
        border-left:none;
        outline: none;
   }
   











    /****************************** Footer Section ******************************/
    .footer{
        padding: 80px 80px 80px 80px;
        /* margin-top: 500px; */
    }

    .rights-reserved{
        font-size: 13px;
        margin-top: 8px;
    }

    .footer-title{
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color: rgb(53, 53, 190);
        letter-spacing: 2px;
    }

    .footer-body a {
        text-decoration: none;
        font-size: 15px;
        color: white;
    }

    .terms-privacy{
        padding: 8px 80px 8px 80px;
        font-family: sans-serif;
        font-size: 15px;
    }
    .terms{
        padding-right: 0px;
    }
}