html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

/* xs */
@media(max-width: 575px){
    .First-navbar{
        background-color: brown;
    }
}

/* sm */
@media(min-width: 576px) and (max-width:767px){}


/* md */
@media(min-width: 768px) and (max-width:991px){}

/* lg */
@media(min-width: 992px) and (max-width:1199px){}


/* xl */
@media(min-width: 1200px) {
    /****************************** Header Section ******************************/
    .First-navbar{
        background-color: #E7CBCB;
    }
    .Second-navbar{
        background-color: rgb(252, 247, 247);
        
    }
    .navbar-head-link{
        color:white;
        background-color: tomato;
    }
    .nav-link{
        color:tomato!important;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-stretch:wider;
        letter-spacing: 1px;
    }

    .advertise {
        background-color: tomato;
        border: 2px solid tomato;
        border-radius: 500px !important;
        /* border: none; */
    }
    .advertise-link {
        color: white !important;
        font-size: 17px;
        font-family:  Helvetica, sans-serif;
        font-style:normal;
        font-stretch:wider;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .advertise:hover {
        background-color: rgb(248, 79, 50);
        border: 2px solid rgb(248, 79, 50);
        border-radius: 500px !important;
        /* border: none; */
    }
    .advertise-link:hover {
        color: whitesmoke !important;
        font-size: 17px;
        font-family:  Helvetica, sans-serif;
        font-style:normal;
        font-stretch:wider;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    




    /****************************** Body Section ******************************/
    .hero-section{
        /* background-color: blueviolet !important; */
    }
    .platform-hero-image{
        background: url('../images/platform-hero.jpg') center/cover fixed no-repeat ;
        height: 70vh;
        margin-top: 120px;
    }

    .platform-hero-background{
        background: linear-gradient(to left top, rgba(0, 0, 255, 0.207), rgba(248, 80, 50, 0.327)) !important;
        height:70vh;
        /* opacity:0.25; */

    }

    .hero-section-title{
        color: aliceblue;
        font-size: 75px;
        opacity:5!important;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        padding-top: 95px;
        padding-left: 140px;
        line-height: 80px;
        text-align: left;
    }

    .hero-section-body{
        color: white;
        padding-left: 140px;
        padding-right: 140px;
        font-size: 20px;
        text-align: left;
        font-family:Arial, Helvetica, sans-serif;
        /* margin-bottom: 100px; */
    }

    .hero-body{
        margin: 500px 200px 0px 200px;
    }

    .hero-body-sub{
        margin-top: 160px;
    }
    .sub-hero-text{
        padding-left: 20px;
    }

    .sub-hero-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .short-line{
        width: 100px;
        color: rgb(248, 79, 50);
        border: 3px solid rgb(248, 79, 50);
    }

    .sub-hero-text{
        
    }

    .sub-hero-body{
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-right: 60px;
    }

    .buttons{
        background-color: rgb(248, 79, 50);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }

    .buttons:hover{
        background-color: rgb(252, 42, 5);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }
    .main-left-img{
        /* width: auto; */
        width:auto;
        height: 50vh;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sub-left-img{
        /* width: auto; */
        width:auto;
        height: 25vh;  
        margin-top: -180px;
        margin-left: -70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sub-hero-right{
        /* margin-left: 10px; */
    }

    /* 2nd section */
    .second-section{
        margin-top: 160px;
        margin-bottom: 200px;
    }

    .second-section-right{
        padding-left: 30px;
    }

    .second-section-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .second-section-picture{
        /* width: auto; */
        width:auto;
        height: 55vh;  
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }





    /******************* About Section *******************/
    .about-us{
        background: url('../images/about-background.jpg') top/cover fixed no-repeat ;
    }
    .about-hero-image{
        background: url('../images/about-hero.jpg') top/cover fixed no-repeat ;
        height: 75vh;
        margin-top: 120px;
        /* border-radius: 100%; */
    }

    .about-hero-background{
        background: linear-gradient(to left top, rgba(0, 0, 255, 0.207), rgba(248, 80, 50, 0.327)) !important;
        height:75vh;
        text-align: center !important;
    }

    .about-section-title{
        color: aliceblue;
        font-size: 75px;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        line-height: 80px;
        padding-top: 23% ;
    }

    .about-hero-section-body{
        color: white;
        padding-left: 140px;
        padding-right: 140px;
        font-size: 20px;
    }

    /* Our Story */
    .our-story{
        margin: 200px 200px 100px 200px;
    }

    .story-image{
        width: 100%;
        margin-left: auto;
        /* margin-right: auto; */
    }

    .story-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .story-body{
        /* margin-top: 70px; */
        margin-bottom: 20px;
        text-align: justify;
    }

    .contact-btn{
        background-color: rgb(248, 79, 50);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }

    .contact-btn:hover{
        background-color: rgb(252, 42, 5);
        padding: 10px 25px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        border-radius: 30px;
    }


     /* Our Mission  */
    .our-mission{
        margin: 100px 200px 200px 200px;
    }

    .mission-image{
        width: 100%;
        margin-left: auto;
        /* margin-right: auto; */
    }

    .mission-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .mission-body{
        /* margin-top: 70px; */
        margin-bottom: 20px;
        text-align: justify;
    }

    /* our-values */
    .our-values{
        margin: 150px 0px 150px 0px;
        /* background-color: #FDD4CC; */
        background-color: #E7CBCB;
        padding: 150px 200px 100px 200px;
        text-align: center;
    }

    .value-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        text-align: center;
        color: white;
    }

    .value-body{
        color: white;
        font-size: 19px;
        /* font-weight: 400; */
        font-family: sans-serif;
        /* letter-spacing: 1px; */ 
        word-spacing: 2px;
    }


    .value-line1{
        width: 150px;
        color: white;
        border: 3px solid white;
    }

    .value-line2{
        width: 150px;
        color: white;
        border: 3px solid white;
        float: right;
        margin-top: 40px;
    }

   /* Our Team */
   .our-team{
    text-align: center;
    margin: 0px 100px;
    padding-bottom: 100px;
    }

    .team-title{
        font-size: 45px;
        font-weight: 600;
        line-height: 44px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px; 
        margin-bottom: 40px;
    }

    .team-line{
        width: 150px;
        color: rgb(248, 79, 50);
        border: 2px solid rgb(248, 79, 50);
        margin: auto;
    }

    .team-body{
        margin-top: 50px;
    }

    .team-profile{
        /* color: rgb(248, 79, 50); */
        /* border: 2px solid rgb(248, 79, 50); */
        /* padding: 50px; */
    }

   .profile-image{
       width: 60%;
       border-radius: 400px;
   }

   .profile-name{
        font-size: 18px;
        font-weight: 400;
        font-family: sans-serif;
        /* letter-spacing: 2px; */
   }

   .profile-position{
        font-size: 15px;
   }
   /******************* End of ABOUT Section *******************/


   /******************* FAQ Section *******************/
   .faq{
        padding: 200px 200px 100px 200px;
        background-color: #aaaaaa15;
   }

   .faq-title{
    font-size: 45px;
    font-weight: 600;
    line-height: 44px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #5255EE;  
   }

   .faq-line{
    width: 100px;
    color: #5255EE;
    border: 3px solid #5255EE; 
   }

   .search-space{
       display: flex;
       display: block;
       width: 100%;
   }

   .search-box{
       width: 90%;
       padding: 7px 10px;
       border-radius: 10px 0px 0px 10px;
       border: 2px solid #5255EE;
       border-right:none;
       outline: none;
       /* background-color: #aaaaaa15; */
   }

   .search-btn{
       width: auto;
        padding: 7px 10px;
        border-radius: 0px 10px 10px 0px;
        border: 2px solid #5255EE;
        color: rgb(248, 79, 50);
        background-color: white ;
        margin-left: -5px;
        border-left:none;
        outline: none;
        /* background-color: #aaaaaa15; */
   }

   /* Tenant */
   .tenant{
       margin-top: 150px;
   }

   .faq-tenant-head{
       border-left: 3px solid #5255EE;
       padding-left: 5px;
       font-size: 22px;
       font-weight: 400;
       font-family: sans-serif;
       letter-spacing: 2px;
   }

   .faq-sheet{
       box-shadow: 1px 1px 5px  #aaaaaa;
       padding: 65px 45px 45px 45px;
       border-radius: 10px;
       height: 70vh;
       background-color: white;
       /* -ms-transform: rotate(7deg); 
        -webkit-transform: rotate(7deg); 
        transform: rotate(7deg); */
   }

   .faq-row{
       margin-bottom: 10px;
   }
   .faq-tenant-title{
       font-size: 18px;
       font-weight: 400px;
       color: #5255EE;
       font-family: Arial, Helvetica, sans-serif;
   }
   
   /******************* End of FAQ Section *******************/



   /******************* Review Section *******************/
   .hero-section{
       height: 30vh;
       width: 100%;
       margin: 120px 0px 100px 0px;
       background-color: #E7CBCB;
       text-align: center;
   }


   .review-title1{
       font-size: 50px;
       font-weight: 500;
       padding-top: 3.5%;
       letter-spacing: 5px;
       color: rgb(248, 79, 50);
       text-shadow: 2px 2px 4px rgba(248, 80, 50, 0.537);
       font-family:serif;
   }

   .review-title2{
       font-size: 20px;
       /* font-weight: 200; */
       margin-top: -1%;
       letter-spacing: 1px;
       color: white;
       /* font-style: italic; */
       text-shadow: 2px 2px 4px #0000005c;
       font-family: Arial, Helvetica, sans-serif;
   }

   .tenant-row{
       margin-bottom: 40px;
   }

   .tenant-img{
       /* border: 3px solid green; */
   }

   .tenant-image{
       width: 170px;
       height: 170px;
       border-radius: 250px;
   }

   .tenant-img-left{
    width: 170px;
    height: 170px;
    border-radius: 250px;
    margin-left: 100px;
   }

   .tenants-section{
        padding: 100px 200px 150px 200px;
   }

   .tenants-right-section{
       margin-top: 5%;
   }

   .tenanats-text1{
       font-size: 19px;
       letter-spacing: 3px;
       word-spacing: 2px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       color: rgb(106, 106, 106);
   }

   .tenanats-text2{
       font-size: 31px;
       font-family:sans-serif;
   }

   .tenants-line{
    width: 100px;
    color: rgb(248, 79, 50);
    border: 1.5px solid rgb(248, 79, 50);
    /* margin: auto; */
   }

   .join-us{
    margin: 0px 200px 200px 200px;
   }

   .join{
       /* text-align: left; */
       /* background-color: #5255EE; */
   }
   .join-title{
       font-size: 45px;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 550;
       margin-top: 90px;
       text-align: right;
   }

   .join-body{
       text-align: right;
   }

   .join-img{
       width: 75%;
       margin-right: 120px;
   }

   .review-button{
       margin-top: 20px;
       text-align: right;
   }

   .review-book-btn{
    background-color: rgb(248, 79, 50);
    padding: 6px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 30px 0px 0px 30px;
}

.review-book-btn:hover{
    background-color: rgb(252, 42, 5);
    padding: 6px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 30px 0px 0px 30px;
}

.landlord-section{
    margin: 100px 200px 50px 200px;
}
.landlord-review{
    text-align:center;
    border-radius: 5px;
    margin-top: 35px;
    padding: 5px 5px 20px 5px;
    border: 1.5px solid rgba(248, 80, 50, 0.688);
}

.landlord-head{
    text-align: center;
    /* margin-bottom: 5px; */
}

.landlord-title{
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(106, 106, 106);
    margin-bottom: 30px;
}

.landlord-line{
    width: 100px;
    margin: auto;
    color: rgb(248, 79, 50);
    border: 1.5px solid rgb(248, 79, 50); 
}

.landlord-profile{
    margin-top: 30px;
    width: 200px;
    border-radius: 5px;
}

.landlord-pro-name{
    font-size: 15px;
    color: rgb(106, 106, 106);
}

/* Host Room */
.host-room{
    margin: 0px 200px 200px 200px;
    background-color: #E7CBCB;
    height: 40vh;
}

.host-title{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    padding-top: 50px;
    text-align: center;
    color: white;
}

.host-body{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 70px;
}

.advertise-button{
    margin-top: 15px;
    text-align: center;
}

.advertise-link-btn{
    background-color: rgb(248, 79, 50);
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
}

.advertise-link-btn:hover{
    background-color: #da2828;
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
}

/******************* End of Review Section *******************/


/******************************* Contact Section *************************/
.contact-body{
    height: 180vh;
    width: 100%;
    padding: 120px 0px 100px 0px;
    background-color: #E7CBCB;
    /* text-align: center; */
}

.contact-into{
    margin-top: 55px;
    margin-bottom: 15px;
}

.contact-into-body{
    font-family: sans-serif;
}

.contact-into-head{
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}

.contact-box{
    /* height: 80vh; */
    width: 75%;
    margin: auto;
}

.contact-mini-box{
    /* padding: 150px 30px; */
    /* background-color: #da2828; */
    /* margin-bottom: 300px; */
}

.meeting-form{
    padding: 50px 60px;
    background-color: white;
}

.meeting-title{
    color: tomato;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.meeting-row{
    margin-bottom: 20px;
    /* color: tomato; */
}

.book-submit{
    background-color: white;
    color: tomato;
    font-style: normal;
    font-family:sans-serif;
    border: 1px solid tomato;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.book-submit:hover{
    background-color: tomato;
    color: white;
    font-style: normal;
    font-family:sans-serif;
    letter-spacing: 2px;
    word-spacing: 1px; 
}

.contact-adrress{
    padding: 50px 55px;
    background-color: tomato;
}

.contact-title{
    color: white;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-right-body{
    margin-top: 40px;
}

.contact-row{
    color: white;
    margin-bottom: 30px;
    font-style: normal;
    font-family:sans-serif;
    /* font-size: 17px; */
}

.social-media-contacts{
    margin-top: 150px;
    padding-top: 120px;
    height: 65vh;
    color: white;
    text-align: center;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.922)), url('../images/socilal-media.png') center/cover fixed no-repeat ;

}

.media-title1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 4px;
}
.media-title2{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
}

.media-line{
    width: 100px;
    color: white;
    border: 2px solid white;
    margin: auto;
}

.media-icons{
    margin-top: 25px;
}

.facebook,.instagram,.google,.youtube{
    margin: 10px;
}

.brand-icons{
    background-color: tomato;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    margin: auto;
    padding: 25px;
}

/******************************* End Contact Section *************************/





/******************************* Terms & Conditions Section *************************/
.terms-and-condition{
    /* height: 30vh;
    width: 100%;
    margin: 120px 0px 100px 0px;
    background-color: #E7CBCB; */
}

.terms-condition-head{
    height: 30vh;
    width: 100%;
    margin: 120px 0px 100px 0px;
    background-color: #E7CBCB; 
}

.terms-condition-title{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-top: 5%;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(248, 80, 50, 0.537);
}

.terms-condition-body{
    margin: 100px 170px 50px 170px;
}

.tenants-terms{
    height: 150vh;
}

.tenants-terms-title1,.landlords-terms-title1{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.tenants-terms-title2,.landlords-terms-title2{
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.terms-line{
    width: 100px;
    color: rgb(248, 79, 50);
    border: 2px solid rgb(248, 79, 50); 
    margin: 15px 0px 30px 0px;
}

.tenants-terms-content-title,.landlords-terms-content-title{
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 30px;
}

.tenants-terms-link{
    text-decoration: none   ;
}

.tenants-terms-body1{
    margin-top: 150px;
}

.terms-body-title{
    margin-top: 50px;
}

.terms-body-content{
    text-align: justify;
}

/******************************* End Terms & Conditions Section *************************/


/******************************* Privacy Section *************************/
.privacy-policy-head{
    height: 30vh;
    width: 100%;
    margin: 120px 0px 0px 0px;
    background-color: #E7CBCB; 
}

.privacy-policy-title{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-top: 5%;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(248, 80, 50, 0.537);
}

.privacy-policy-body{
    margin: 20px 170px 150px 170px;
    text-align: justify;
}

/******************************* End Privacy Section *************************/


/****************************** Book A Room Section ******************************/
.book-a-room{
    /* height: 100vh; */
    margin: 160px 120px 120px 120px;
}

.region-head{
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-transform:capitalize;
    /* font-family: sans-serif; */
}


.wa-region-img{
    background-image: url("../images/platform-hero.jpg");
    height: 25vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #da2828;
    border-radius: 20px;
}

.tamale-region-img{
    background-image: url("../images/platform-hero.jpg");
    height: 25vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #da2828;
    border-radius: 20px;
}

.damango-img{
    background-image: url("../images/platform-hero.jpg");
    height: 25vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.region-img-link{
    text-decoration: none;
}

.region-sub-box{
    perspective: 1000px;
    background-color:tomato;
    height: 25vh;
    width: 100%;
    border-radius: 20px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.region-box:hover .region-sub-box{
    transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front{
    position: relative;
}

.inner-box{
    padding: 60px 0px 60px 40px;
    background-color: #da282896;
    border-radius: 20px;
    position: relative;
    height: 100%;
}

.region-img-txt1{
    color: white;
    font-size: 30px;
    font-weight: 650;
    letter-spacing: 2px;
}

.region-img-txt2{
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
}

.flip-box-back{
    color: white;
    margin-top: -190px;
    transform: rotateX(180deg);
}


.explore-rooms{
    border-left:5px solid white;
    margin: 45px 0px 45px 40px;
}


.region-bcg-txt1{
    font-size: 33px;
    font-weight: 650;
    letter-spacing: 3px;
    padding-top: 4px;
    padding-left: 20px;
}

.region-bcg-txt2{
    font-size: 22px;
    margin-top: -7px;
    padding-bottom: 6px;
    padding-left: 20px;
    letter-spacing: 1px;
}







/****************************** End Book A Room Section ******************************/




    /****************************** Footer Section ******************************/
    .footer{
        padding: 80px 80px 80px 80px;
        /* margin-top: 500px; */
    }

    .rights-reserved{
        font-size: 13px;
        margin-top: 8px;
    }

    .footer-title{
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color: rgb(53, 53, 190);
        letter-spacing: 2px;
    }

    .footer-body a {
        text-decoration: none;
        font-size: 15px;
        color: white;
    }

    .terms-privacy{
        padding: 8px 80px 8px 80px;
        font-family: sans-serif;
        font-size: 15px;
    }
    .terms{
        padding-right: 0px;
    }
}